@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --primary-color:#F5CF06;
    --secundary-color: #8E4106;
    --terciary-color: #FFFFFF;
    --space-default: 70px;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--space-default);
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;
}

header {
    height: 48px;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 4%;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 2rem;
    font-family: 'Righteous', cursive;
}

main {
    flex: 1;
    font-family: 'Righteous', cursive;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.title {
    position: relative;
    grid-column: 1/-1;
    place-self: center;
    color: #FFFFFF55;
    z-index: -1;
}

.title__text {
    font-size: 20vw;
    color: var(--terciary-color);
}

.title__transparent {
    position: absolute;
    font-size: 27vw;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}

.description {
    grid-column: 1/7;
    place-self: center start;

}

.action {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: white;
    grid-column: 7/-1;
    place-self: center end;
}

footer {
    background-color: coral;
    

}