@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --primary-color:#F5CF06;
    --secundary-color: #8E4106;
    --terciary-color: #FFFFFF;
    --space-default: 70px;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--space-default);
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;
}

header {
    background-color: aqua;
    height: 48px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1%;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 2rem;
    font-family: 'Righteous', cursive;
}

main {
    background-color: brown;
    flex: 1;
    font-family: 'Righteous', cursive;
}

footer {
    background-color: coral;
    

}